# Database connection string
DATABASE_URL="mongodb+srv://SRaz:[password-here]@cluster0-test.hgw7w.mongodb.net/[db-name-here]?retryWrites=true&w=majority"

# JWT authentication
JWT_SECRET="anyStringBasically"

# Pusher credentials

PUSHER_APP_ID="1234567"
PUSHER_KEY="123456789_A_B_C_D_E"
PUSHER_SECRET="123456789_A_B_C_D_E"
PUSHER_CLUSTER="eu"

# CORS settings
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3001,https://whatsapp-clone-client-xi.vercel.app"

# Backend URL (for frontend to connect to)
API_URL="http://localhost:3010"
PRODUCTION_API_URL="https://whatsapp-clone-server-psi.vercel.app"

# Port settings
PORT=3010 