# Note - the data should be dynamically pulled from the root .env file. (TODO)

# Database URL is pulled from the root .env file
DATABASE_URL=""

# uploadthing token for file uploads
UPLOADTHING_TOKEN=''

# UploadThing configuration
# Use UPLOADTHING_SECRET for the latest version
UPLOADTHING_SECRET=

# Client-side URLs for uploadthing (in development vs production)
NEXT_PUBLIC_UPLOADTHING_API_URL_DEV=http://localhost:3010/uploadthing
NEXT_PUBLIC_UPLOADTHING_API_URL_PROD=/uploadthing

# CORS configuration
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,https://whatsapp-clone-client-xi.vercel.app

# For direct import of the root .env file, see server/src/index.ts

PORT=3010
JWT_SECRET="my-humble-secret"